<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <style>
        body{
            font-size: large;
            font-weight: 400;
            color: black;
        }
        .bgtitle{
            color: green;
            font-size: larger;
            font-weight: 600;
            text-decoration: underline;
        }
        .smtitle{
            color: rgb(197, 57, 57);
            font-size: larger;
            font-weight: 520;
            text-decoration: underline;
        }
        .o-list{
            color: rgb(45, 45, 172);
        }
    </style>
</head>
<body class="container">
    <p style="text-align: center; font-size: x-larger; color: red; font-weight: 700;">
        <span style="color: black;">ANALYBIZ</span> is record keeping system. It performs calculations and analysis of the data it receives.
    </p>
    <div>
        <span class="bgtitle">We will describe it in two ways.</span>
        <ul>
            <li >Provision of data</li>
            <li >Analysis of data</li>
        </ul>
    </div>
    <div>
        <div style="color: red;">PROVISION OF DATA</div>
        <div>
            <div>What data?</div>
            <div class="bgtitle">Identification data</div>
            <div>
                <p>
                    This is the information you will provide for identification. You will only provide it once during registration. <br>
                    It includes: 
                    <ul>
                        <li>
                            <span class="smtitle">Personal Details</span>
                            <ol class="o-list">
                                <li>Username</li>
                                <li>Password</li>
                                <li>Valid email address</li>
                                <li>Names</li>
                            </ol>
                        </li>
                        <li>
                            <span class="smtitle"> Business Details</span>
                            <ol class="o-list">
                                <li>Business name</li>
                                <li>Business category</li>
                                <li>Business Location 
                                    <ul style="color: black;">
                                        <li>Town</li>
                                        <li>County</li>
                                    </ul>
                                </li>
                                <li>Subscription type</li>
                            </ol>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="bgtitle">Operational Data</div>
            <div>
                <p>This is the data that will be used in deriving analysis and calculations</p>
                <p>It includes:
                    <ol>
                        <li> <span class="smtitle"> Products</span>
                            <ul>
                                <li>Product name</li>
                                <li>Product cost</li>
                                <li>Stock</li>
                                <li>Price</li>
                                <li>A short product description</li>
                            </ul>
                        </li>
                        <li> <span class="smtitle"> Product Category</span>
                            <ul>
                                Example:
                                <li>Screens,Phones,Sound systems e.t.c for electrical shops</li>
                                <li>Fertilizers,Herbicides,Fungicides e.t.c for agrovets.</li>
                            </ul>
                        </li>
                    </ol>
                </p>
                <p>There are no limitations to the naming of this items. You can categorize them in any logical way you see best</p>
                <p>You can change the names and properties of all this items at any time.</p>
            </div>
            <div class="bgtitle">
                How to record sales
            </div>
            <div>
                <p>
                    This process has been made simple by using real world procedures. We will use a cart system.
                </p>
                <p>
                    It works like a trolley in a supermarket. You products that you sell and and save them as an order.
                </p>
                <div>
                    <span class="smtitle">Tips to use the cart:</span>
                    <ol class="o-list">
                        <li>Add products purchased by one customer in the same order and save.</li>
                        <li>You can add or remove products and change the quantity of products in the cart using the buttons provided.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="bgtitle">Analysis of data</div>
        <p>
            In this part, we will use two formats. <br>
            <ol>
                <li>
                    <div>
                        <div class="smtitle">All time analysis.</div>
                        <p>
                            This will show you information for since you created an account.
                        </p>
                        <div>
                            <span class="smtitle"> Information shown</span>
                            <ol class="o-list">
                                <li>Total sales</li>
                                <li>Total cost of all items you have sold.</li>
                                <li>Total profit made.</li>
                                <li>The profit rate</li>
                                <li>Total number of items sold for each product</li>
                            </ol>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="smtitle">Select time</div>
                        <p>
                            For this method, you will select a single date and all the analysis will be based on that date.
                        </p>
                        <div>Analysis based on the select date</div>
                        <ul>
                            <li>
                                <div class="smtitle">Daily analysis</div>
                                <p>You will see:
                                    <ol class="o-list">
                                        <li>Total sales made on that day</li>
                                        <li>Total cost of products sold on that day</li>
                                        <li>Total profit made on that day</li>
                                        <li>Profit rate of that day</li>
                                        <li>All orders made on that day</li>
                                    </ol>
                                </p>
                            </li>
                            <li>
                                <div class="smtitle">Weekly analysis</div>
                                <p>It will show analysis of all the past six days of the selected date</p>
                                <p>You will see:
                                    <ol class="o-list">
                                        <li>Total sales made on that week</li>
                                        <li>Total cost of products sold on that week</li>
                                        <li>Total profit made on that week</li>
                                        <li>Profit rate of that week</li>
                                        <li>Number of product items sold for each product</li>
                                        <li>All orders made on that week</li>
                                    </ol>
                                </p>
                            </li>
                            <li>
                                <div class="smtitle">Monthly analysis</div>
                                <p>It will show analysis of the month of the selected date</p>
                                <p>You will see:
                                    <ol class="o-list">
                                        <li>Total sales made on that month</li>
                                        <li>Total cost of products sold on that month</li>
                                        <li>Total profit made on that month</li>
                                        <li>Profit rate of that month</li>
                                        <li>All orders made on that week</li>
                                    </ol>
                                </p>
                            </li>
                            <li>
                                <div class="smtitle">Yearly analysis</div>
                                <p>It will show analysis of the year of the selected date</p>
                                <p>You will see:
                                    <ol class="o-list">
                                        <li>Total sales made on that year</li>
                                        <li>Total cost of products sold on that year</li>
                                        <li>Total profit made on that year</li>
                                        <li>Profit rate of that year</li>
                                        <li>Number of product items sold for each product</li>
                                        <li>All orders made on that year</li>
                                    </ol>
                                </p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ol>
        </p>
    </div>
    <div>With the analysis provided, we will post ways to interpret them and use the knowledge to make better business decisions</div>
</body>
</html>